.stockDiv {
    display: grid;
    position: relative;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.transactionForm {
    background-color: lime;
    display: grid;
    position: relative;
    grid-column: 6;
    grid-row: 2;
}

.stockTitle {
    display: grid;
    grid-column: 3 / 5;
    justify-content: center;
}

.lineGraphDiv {
    grid-row: 2 / span 5;
    grid-column: 2 / span 4;
}

.ceoLabel {
    grid-row: 7;
    grid-column: 2;
}

.ceoInfo {
    grid-row: 8;
    grid-column: 2;
}

.employeedLabel {
    grid-row: 7;
    grid-column: 3;
}

.employeesInfo {
    grid-row: 8;
    grid-column: 3;
}

.headquartersLabel {
    grid-row: 7;
    grid-column: 4;
}

.headquartersInfo {
    grid-row: 8;
    grid-column: 4;
}

.foundedLabel {
    grid-row: 7;
    grid-column: 5;
}

.foundedInfo {
    grid-row: 8;
    grid-column: 5;
}

.ceoLabel,
.ceoInfo,
.employeedLabel,
.employeesInfo,
.headquartersLabel,
.headquartersInfo,
.foundedLabel,
.foundedInfo {
    display: flex;
    justify-content: center;
}

.ceoLabel,
.employeedLabel,
.headquartersLabel,
.foundedLabel,
.stockTitle {
    font-size: 45px;
    align-items: flex-end;
}

.ceoInfo,
.employeesInfo,
.headquartersInfo,
.foundedInfo {
    font-size: 30px;
}
