.login-container {
  display: grid;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.left-login {
  grid-column: 1;
  display: flex;
  justify-content: center;
  background-color: rgb(122, 22, 22);
}

.right-login {
  grid-column: 2;
  display: flex;
  justify-content: flex-start;
  background: grey;
  padding-left: 2rem;
}
