.navbar-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  background-color: #202125;
  border-bottom: 1px solid #7f848b;
  height: 71px;
  padding-right: 2rem;
}

.navbar-link {
  display: inline-flex;
  margin-left: 1rem;
}

.rightNav {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
}

.centerNav {
  grid-column: 2;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 300px;
  height: 35px;
  font-size: 20px;
  padding-left: 10px;
}

button {
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
}

button, a {
  color: white;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;

 }
