.app__body {
    background-color: black;
    height: 100vh;
    width: 100%;
}

.app__container {
    background-color: black;
    flex: 0.70;
    height: 100%;
    /* width: 100vw; */
    display: flex;
    /* padding-left: 48px; */
    /* padding-right: 48px; */
}

.newsfeed__container {
    background-color: black;
    flex: 0.7;
}
