.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;

}

.search-input {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.search-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0;
}

.search-link {
  list-style: none;

}
