.watchlist__container::-webkit-scrollbar {
    /* below is to hide the scrollbar but still allow scroll */
  display: none; /* for Chrome, Safari, and Opera */
}

.watches-graph {
  height: 30%;
  width: 35%;
}

.watchlist__container {
  grid-area: sidebar;
  position: fixed;
  top: 3%;
  right: 0;
  flex: 0.3;
  color: white;
  background-color: rgb(32, 29, 29);
  height: fit-content;
  border-radius: 10px;
  border: 1px inset black;
  box-shadow: .5px .5px 0.625rem -2px rgb(14, 14, 14);
  margin: 5%;
  max-height: 85vh;
  overflow-y: auto;
  /* below is to hide the scrollbar but still allow scroll */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  padding: 1%;
  width: 20%;
  padding-left: 2rem;
  display: grid;
  grid-template-rows: 1fr 8fr;
}

.symbol-link {
  text-decoration: none;
  color: white;
}


.watchlist-link {
  color: white;
  list-style: none;
}

.single-watch-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.watch-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.watch-container {
  border: 1px solid #ccc;
  width: 100%;
}
